section {
    display: flex;
    align-items: center;
    align-content: center;
    border: 1px solid black;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 50%;
}

button, h2 {
    margin: 10px;
}

button {
    display: flex;
    
}